.main-container {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.add-container {
  justify-content: row;
}

.submit-container {
  justify-content: row;
}

.hidden {
  display: none;
}